<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0Ih3Km1K00xuNT-2NKDl8pmhwcxLlgYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>810817981948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gursimran.EasyPark</string>
	<key>PROJECT_ID</key>
	<string>easypark-be833</string>
	<key>STORAGE_BUCKET</key>
	<string>easypark-be833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810817981948:ios:f56b8085a8a6b0b74db679</string>
</dict>
</plist>